<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Bem-vinda ao seu perfil, <strong><%=user%></strong>!</p>
    <br>
    <ul>
     <a href="/"><< Voltar</a>
    </ul>
</body>
</html>