<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introdução ao Node.js e Express.js</title>
</head>
<body>
    <h2>Página Produtos!</h2>
    <h2>Lista de produtos: </h2>
    <%#= produtos%>

    <!-- Percorrendo a lista de produtos com forEach-->
    <ul>
    <% produtos.forEach(produto => {%>
        <li> <%= produto%> </li>
        <li>Produto: <%= produto.nome%> </li>
        <li>Preço: <%= produto.preco.toLocaleString("pt-br",
           {style: "currency", currency: "BRL"} 
            )%> </li>
        <br>
        <% }) %>
        </ul> 
     

    <br><br>
    <ul>
     <a href="/"><< Voltar</a>
    </ul>
</body>
</html>