<footer class="footer-custom fixed-bottom">
    <p style="margin: 0;">
        "Nem todos os que vagam estão perdidos"<br>
        <span style="font-weight: bold; font-style: italic;">— J.R.R. Tolkien</span>
    </p>
    <p style="margin-top: 10px;">
        FATEC Registro &reg; 2025
    </p>
</footer>