<footer class="footer-custom fixed-bottom">
    <p style="margin: 10px;">
        "Nem todos os que vagam estão perdidos"<br>
        <span style="font-weight: bold; font-style: italic; margin-bottom: 10px;">— J.R.R. Tolkien</span>
    </p>
</footer>