

<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #38332E;">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #c59102; margin-left: 100px;" href="/">Terra Média</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" style="color: #b3b3b3;" href="/locais">Locais</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #b3b3b3;" href="/lutas">Lutas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: #b3b3b3;" href="/personagens">Personagens</a>
        </li>
      </ul>
    </div>
  </div>
</nav>