<%- include ('partials/header.ejs') %>
<%- include ('partials/navbar.ejs') %>

<div class="hero-section">
    <img src="/imgs/imagem1.png" alt="Imagem de capa">
    <div class="hero-text">
        <h1 class="hero-title">Terra Média</h1>
        <p class="hero-subtitle">Explore as lendas, batalhas épicas e os reinos mágicos do universo criado por <br>
            J.R.R. Tolkien. Descubra os heróis que moldaram o destino da Terra Média.</p>
    </div>
</div>

<%- include ('partials/footer.ejs') %>